{% extends "base.html" %}

{% block content %}
    <div class="notes-list">
        <h1 class="my-5">All Notes</h1>
        <div class="row row-cols-3 g-2">
            {% for note in notes %}
                <div class="note-li">
                    <h2><a href="{% url 'notes.detail' pk=note.id %}" class="text-decoration-none">{{ note.title }}</a></h2>
                    <p>{{ note.text|truncatechars:15 }}</p>
                    <p>Created on: {{ note.created|date:"F j, Y, g:i a" }}</p>
                    <p>Likes: {{ note.likes }}</p>
                </div>
            {% empty %}
                <div>No notes available.</div>
            {% endfor %}
            </div>
    </div>
{% endblock %}